/*
=============================================
Page Styles
=============================================
*/

@font-face {
    font-family: 'Warcraft';
    src: url('./../fonts/LifeCraft_Font.ttf')  format('truetype') /* Safari, Android, iOS */
  }

* {
    box-sizing: border-box;
}

html,
body {
    font-size: 18px;
    min-height: fit-content;
    height: 100%;
}

button {
    border-radius: 3px;
    padding: .5em;
    background-color: rgb(142, 206, 24);
}

.wrapper {
    background-image: url('./../images/backgrounds/warcraft-background.jpg');
    background-size: cover;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: auto;
}

.row-content {
    display: flex;
    padding: .5rem 1.5rem;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    flex: 0 0 auto;
}

/*
.defeated-opponents {

}
*/

#combat-log {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 auto;
    text-align: center;
    width: 75%;
    background-color: rgb(78, 236, 128, .8);
}






/*
=============================================
Typography
=============================================
*/

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.75rem;
    font-weight: bold;
    color: rgb(68, 68, 235);
    text-shadow: -1px 0 rgb(186, 186, 62), 0 1px rgb(186, 186, 62), 1px 0 rgb(186, 186, 62), 0 -1px rgb(186, 186, 62);
}

h3,
h4 {
    font-family: 'Warcraft', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.15rem;
    text-transform: uppercase;
    padding: .33rem;
    color: white;
}

#end-game {
    font-size: 2rem;
    font-weight: bold;
}

#combat-log {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    color: white;
}

button {    
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
}




/*
=============================================
Character Card
=============================================
*/

.character-card {
    margin: .1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    border: 2px solid rgb(190, 235, 29);
    border-radius: 1rem;
    min-width: 240px;
    max-width: 20%;
}

.character-portrait {
    align-self: center;
    width: 80%;
    max-width:200px;
    height: auto;
    max-height: 110px;
    object-fit: cover;
    object-position: top;
}

.alliance {
    background-color: #162C57;
}

.horde {
    background-color: #8C1616;
}

.player {
    background-color: rgb(132, 165, 13);
}


.opponent {
    /* background-color: rgb(184, 6, 6); */
    border-color: rgb(230, 71, 71);
}

